<div class="flex justify-center items-center bg-gray-900 h-screen">
  <div
    class="card space-y-6 w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow-md sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
    <h1 class="text-xl font-medium text-gray-900 dark:text-white text-center">
      Password Generator
    </h1>
    <div class="flex items-center justify-items-stretch gap-4">
      <label for="password-length" class="cursor-pointer text-white font-medium">Password Length :</label>
      <input id="password-length"
        class="cursor-pointer w-32 flex-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
        type="number" (change)="modifyLength($event.target.value)" />
    </div>
    <div class="flex items-center justify-items-stretch gap-4">
      <input id="use-alphabet" class="cursor-pointer" type="checkbox" (change)="modifyLetters()" />
      <label for="use-alphabet" class="cursor-pointer w-32 text-white font-medium">Use Alphabet</label>
    </div>
    <div class="flex items-center justify-items-stretch gap-4">
      <input id="use-number" class="cursor-pointer" type="checkbox" (change)="modifyNumbers()" />
      <label for="use-number" class="cursor-pointer w-32 text-white font-medium">Use Number</label>
    </div>
    <div class="flex items-center justify-items-stretch gap-4">
      <input id="use-symbol" class="cursor-pointer" type="checkbox" (change)="modifySymbols()" />
      <label for="use-symbol" class="cursor-pointer w-32 text-white font-medium">Use Symbol</label>
    </div>
    <button (click)="generateBtn()" [disabled]="!(length && (includeLetters || includeNumbers || includeSymbols))"
      class=" disabled:bg-blue-100 disabled:hover:bg-blue-100  w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
      Generate
    </button>
    <div *ngIf="password" class="flex items-start flex-col justify-items-stretch gap-4">
      <label for="your-password" class="cursor-pointer text-white font-medium w-32">Your Password
        :</label>
      <input id="your-password" [value]="password"
        class="cursor-pointer w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
        type="text" />
    </div>
  </div>
</div>